PORT=3000
JWT_SECRET=your_super_secret_jwt_key
DB_HOST=localhost
DB_USER=root
DB_PASS=your_db_password
DB_NAME=gitasarathi


ubuntu@ip-172-31-32-148:/var/www$ cat ecosystem.config.js 
module.exports = {
  apps: [
    {
      name: 'gitasarathi',
      script: 'dist/main.js',
      cwd: '/var/www/gitasarathi.geekaid.in',
      instances: 1,
      autorestart: true,
      watch: true,
      max_memory_restart: '500M',
      env_file: '/var/www/gitasarathi.geekaid.in/.env',
    },
  ],
};

ubuntu@ip-172-31-32-148:/var/www$ 

ubuntu@ip-172-31-32-148:/var/www$ cd gitasarathi.geekaid.in/
ubuntu@ip-172-31-32-148:/var/www/gitasarathi.geekaid.in$ cat .env
DB_HOST=geek-lab-db.cveyswwwy81i.ap-south-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASS=Ph+177-sql
DB_NAME=gita_sarathi
JWT_SECRET=6c7f6dbff113bd78c7f0434950bac8cd390c97492a56fa1af8b502f7a33b80eb


ubuntu@ip-172-31-32-148:/var/www/gitasarathi.geekaid.in$ 








ssh -i /Users/hitesh/local/keys/aws/geek_lab_key_pair.pem \
-L 3307:hitesh-builds-db.cveyswwwy81i.ap-south-1.rds.amazonaws.com:3306 \
ubuntu@ec2-13-232-176-172.ap-south-1.compute.amazonaws.com -N